<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction</title>
</head>
<body>
    <h1>Diabetes Prediction Web App</h1>
    <form action="/predict" method="post">
        <label for="Pregnancies">Number of Pregnancies:</label>
        <input type="text" id="Pregnancies" name="Pregnancies"><br><br>
        
        <label for="Glucose">Glucose Level:</label>
        <input type="text" id="Glucose" name="Glucose"><br><br>
        
        <label for="BloodPressure">Blood Pressure value:</label>
        <input type="text" id="BloodPressure" name="BloodPressure"><br><br>
        
        <label for="SkinThickness">Skin Thickness value:</label>
        <input type="text" id="SkinThickness" name="SkinThickness"><br><br>
        
        <label for="Insulin">Insulin Level:</label>
        <input type="text" id="Insulin" name="Insulin"><br><br>
        
        <label for="BMI">BMI value:</label>
        <input type="text" id="BMI" name="BMI"><br><br>
        
        <label for="DiabetesPedigreeFunction">Diabetes Pedigree Function value:</label>
        <input type="text" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction"><br><br>
        
        <label for="Age">Age of the Person:</label>
        <input type="text" id="Age" name="Age"><br><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>
